<% include ../partials/header.ejs %>

    <!-- MAIN CONTENT -->
    <section class="hero-section">
      <div class="hero-image">
        <img src="/client/Assets/images/Hero.jpg" alt="Hero Image" class="hero">
      </div>
      <div class="hero-content">
        <h1>Welcome to My Favorite Books List</h1>
        <p>Here you'll find a curated list of my favorite books across various genres. Feel free to check them out and make changes to the list to suit your own preferences.</p>
        <a href="/books" class="btn-primary">Go to Book List</a>
      </div>
    </section>
    
<% include ../partials/footer.ejs %>


